html {
  box-sizing: border-box; }

body {
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.center {
  text-align: center; }

.border {
  border: 1px solid #000; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px; }

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }

@media screen and (min-width: 480px) {
  .container {
    width: 480px; } }

@media screen and (min-width: 720px) {
  .container {
    width: 720px; } }

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px; } }

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px; } }

.col-1 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-2 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-3 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-4 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-5 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-6 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-7 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-8 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-9 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-10 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-11 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-12 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-1 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-1 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-1 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-1 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-2 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-2 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-2 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-2 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-3 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-3 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-3 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-3 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-4 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-4 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-4 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-4 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-5 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-5 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-5 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-5 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-6 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-6 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-6 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-6 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-7 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-7 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-7 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-7 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-8 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-8 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-8 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-8 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-9 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-9 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-9 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-9 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-10 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-10 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-10 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-10 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-11 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-11 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-11 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-11 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-sm-12 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-md-12 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-lg-12 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col-xl-12 {
  padding: 0 10px;
  position: relative;
  min-height: 1px;
  width: 100%; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-1 {
  max-width: 8.33333%;
  flex: 0 0 8.33333%; }

.col-2 {
  max-width: 16.66667%;
  flex: 0 0 16.66667%; }

.col-3 {
  max-width: 25.0%;
  flex: 0 0 25.0%; }

.col-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%; }

.col-5 {
  max-width: 41.66666%;
  flex: 0 0 41.66666%; }

.col-6 {
  max-width: 50.0%;
  flex: 0 0 50.0%; }

.col-7 {
  max-width: 58.33333%;
  flex: 0 0 58.33333%; }

.col-8 {
  max-width: 66.66666%;
  flex: 0 0 66.66666%; }

.col-9 {
  max-width: 75.0%;
  flex: 0 0 75.0%; }

.col-10 {
  max-width: 83.33333%;
  flex: 0 0 83.33333%; }

.col-11 {
  max-width: 91.66666%;
  flex: 0 0 91.66666%; }

.col-12 {
  max-width: 100.0%;
  flex: 0 0 100.0%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25.0%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66666%; }

.offset-6 {
  margin-left: 50.0%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66666%; }

.offset-9 {
  margin-left: 75.0%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66666%; }

@media all and (min-width: 480px) {
  .col-sm-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }
  .col-sm-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }
  .col-sm-3 {
    max-width: 25.0%;
    flex: 0 0 25.0%; }
  .col-sm-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }
  .col-sm-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%; }
  .col-sm-6 {
    max-width: 50.0%;
    flex: 0 0 50.0%; }
  .col-sm-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }
  .col-sm-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%; }
  .col-sm-9 {
    max-width: 75.0%;
    flex: 0 0 75.0%; }
  .col-sm-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }
  .col-sm-11 {
    max-width: 91.66666%;
    flex: 0 0 91.66666%; }
  .col-sm-12 {
    max-width: 100.0%;
    flex: 0 0 100.0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25.0%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66666%; }
  .offset-sm-6 {
    margin-left: 50.0%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66666%; }
  .offset-sm-9 {
    margin-left: 75.0%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66666%; } }

@media all and (min-width: 720px) {
  .col-md-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }
  .col-md-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }
  .col-md-3 {
    max-width: 25.0%;
    flex: 0 0 25.0%; }
  .col-md-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }
  .col-md-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%; }
  .col-md-6 {
    max-width: 50.0%;
    flex: 0 0 50.0%; }
  .col-md-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }
  .col-md-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%; }
  .col-md-9 {
    max-width: 75.0%;
    flex: 0 0 75.0%; }
  .col-md-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }
  .col-md-11 {
    max-width: 91.66666%;
    flex: 0 0 91.66666%; }
  .col-md-12 {
    max-width: 100.0%;
    flex: 0 0 100.0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25.0%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66666%; }
  .offset-md-6 {
    margin-left: 50.0%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66666%; }
  .offset-md-9 {
    margin-left: 75.0%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66666%; } }

@media all and (min-width: 1024px) {
  .col-lg-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }
  .col-lg-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }
  .col-lg-3 {
    max-width: 25.0%;
    flex: 0 0 25.0%; }
  .col-lg-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }
  .col-lg-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%; }
  .col-lg-6 {
    max-width: 50.0%;
    flex: 0 0 50.0%; }
  .col-lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }
  .col-lg-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%; }
  .col-lg-9 {
    max-width: 75.0%;
    flex: 0 0 75.0%; }
  .col-lg-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }
  .col-lg-11 {
    max-width: 91.66666%;
    flex: 0 0 91.66666%; }
  .col-lg-12 {
    max-width: 100.0%;
    flex: 0 0 100.0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25.0%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66666%; }
  .offset-lg-6 {
    margin-left: 50.0%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66666%; }
  .offset-lg-9 {
    margin-left: 75.0%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66666%; } }

@media all and (min-width: 1280px) {
  .col-xl-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }
  .col-xl-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }
  .col-xl-3 {
    max-width: 25.0%;
    flex: 0 0 25.0%; }
  .col-xl-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }
  .col-xl-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%; }
  .col-xl-6 {
    max-width: 50.0%;
    flex: 0 0 50.0%; }
  .col-xl-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }
  .col-xl-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%; }
  .col-xl-9 {
    max-width: 75.0%;
    flex: 0 0 75.0%; }
  .col-xl-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }
  .col-xl-11 {
    max-width: 91.66666%;
    flex: 0 0 91.66666%; }
  .col-xl-12 {
    max-width: 100.0%;
    flex: 0 0 100.0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25.0%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66666%; }
  .offset-xl-6 {
    margin-left: 50.0%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66666%; }
  .offset-xl-9 {
    margin-left: 75.0%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66666%; } }

.justify-content-center {
  justify-content: center !important; }

.sm-justify-content-center {
  justify-content: center; }

.md-justify-content-center {
  justify-content: center; }

.lg-justify-content-center {
  justify-content: center; }

.xl-justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center !important; }

.sm-align-items-center {
  align-items: center !important; }

.md-align-items-center {
  align-items: center !important; }

.lg-align-items-center {
  align-items: center !important; }

.xl-align-items-center {
  align-items: center !important; }
