@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --red: #ED2E7E;
  --green: #00BA88;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #F7F7FC;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.card {
  border-radius: 32px;
  background: #FFF;
  padding: 30px;
  box-shadow: 0 0 16px 0px rgba(17,17,17,.04);
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0,0,0,.05);
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 400px;
  background: #FFF;
  border-radius: 32px;
  padding: 25px;
  box-shadow: 0 0 16px 0px rgba(17,17,17,.04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.ex {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  color: #c0c5cb;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

.ex:hover {
  color: var(--red);
  transition: all .3s;
}

h1 {
  margin-bottom: 0;
  color: #14142B;
}

p {
  color: #4E4B66;
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--green);
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  border-radius: 16px;
  margin: 0 5px;
  border: 7px solid white;
  transition: all .3s;
}

.close-button {
  background-color: var(--red);
}

.button:hover {
  border-color: #EFF0F6;
  transition: all .3s;
}

.visible {
  display: flex;
}

.shaking {
  position: relative;
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes shake {
  0% {left: 0}
  1% {left: -2px}
  2% {left: 4px}
  3% {left: -7px}
  4% {left: 7px}
  5% {left: -4px}
  6% {left: 2px}
  7% {left: 0}
}